* {
	margin: 0px;
	padding: 0px;
}

span {
	font-family: Courier New;
}

.first {
	border: 2px solid red;
	border-radius: 10px;
	text-align: center;
	width: 500px;
	height: 250px;
	position: relative;
	left: 100px;
	font-size: 25px;
}

.second {
	width: 600px;
	height: 250px;
	border:2px solid blue;
	border-radius: 20px;
	text-align: center;
	font-size: 25px;
}

.parent {
	width: 1000px;
	height: 200px;
	position: relative;
	border: 2px solid green;

}

.child {
	width: 400px;
	height: 150px;
	position: absolute;
	top:10px;
	right: 10px;
	border: 2px solid red;
}